<header>
  <div class="container">
    <a routerLink="/">Tc Foodcorner</a>
    <nav>
      <ul>
        <li>
          <a href="">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">naveen</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/order">Order</a>
            <a routerLink="/Login">Logout</a>
          </div>

        </li>
        <li>
          <a routerLink="/cart">Cart<span>3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
